@model RocketLeague.Models.PlayerRegistrationModel

@{
    ViewBag.Title = "Chicago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chicago</h2>
<div class="right">
    <img src="~/Content/Images/600px-DHVALENCIA_2019_RL_CHICAGO.jpg" alt="Chicago" width="500" height="250" loading="lazy" />
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.playerName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.playerName)*@
            Reed Wilen
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.userName)*@
            Chicago
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerBirthdate)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.playerBirthdate)*@
            06/12/2001
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerTeam)
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.playerTeam)*@
            G2
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerEarnings)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.playerEarnings)*@
            $156,597
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.system)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.system)*@
            PC
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeZone)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.timeZone)*@
            West
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mmr)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.mmr)*@
            2258
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Teams", "Liquipedia")
    <br />
    @Html.ActionLink("View Team", "G2", "Liquipedia")
</p>


