@model RocketLeague.Models.PlayerRegistrationModel

@{
    ViewBag.Title = "Jknaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jknaps</h2>
<div class="right">
    <img src="~/Content/Images/DHMONTREAL_2019_RL_JKNAPS.jpg" alt="Jknaps" width="500" height="250" loading="lazy" />
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.playerName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.playerName)*@
            Jacob Knapman
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.userName)*@
            Jknaps
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerBirthdate)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.playerBirthdate)*@
            04/25/1999
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerTeam)
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.playerTeam)*@
            G2
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerEarnings)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.playerEarnings)*@
            $109,240
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.system)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.system)*@
            PC
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeZone)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.timeZone)*@
            East
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mmr)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.mmr)*@
            2230
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Teams", "Liquipedia")
    <br />
    @Html.ActionLink("View Team", "G2", "Liquipedia")
</p>
