@model IEnumerable<RocketLeague.Models.PlayerRegistrationModel>

@{ 
    ViewBag.Title = "Player";
}

<h2>Players Page</h2>

<p>
    @Html.ActionLink("Create New", "PlayerRegistration", "Liquipedia")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerBirthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerEarnings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.system)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mmr)
        </th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.playerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerBirthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerEarnings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.system)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeZone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mmr)
        </td>
    </tr>
}
</table>
